@model IEnumerable<UniversityApplication.Models.FinancialAid>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aidtype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Awardyear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aidtype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Awardyear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Studentid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Aidid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Aidid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Aidid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
