@model UniversityApplication.Models.Enrollment

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Enrollment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Semester)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Semester)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Labgrade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Labgrade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Examgrade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Examgrade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Finalgrade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Finalgrade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Feestatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Feestatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.Courseid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.Studentid)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Enrollmentid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
