@model UniversityApplication.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coursename)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coursename)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Credits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Credits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tuitionfee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tuitionfee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ects)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ects)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Faculty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Faculty.Facultyid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lecturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lecturer.Lecturerid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Courseid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
